.login {
    width: 100%;
    height: 200vh;
    background: linear-gradient(156deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 70%),
      url("https://assets.nflxext.com/ffe/siteui/vlv3/5523db5a-e2b2-497f-a88b-61f175c3dbad/eb90437e-a876-47c3-a138-ca27772a4d2a/IN-en-20230306-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    position: relative;
  
  
    .top {
      .wrapper {
        padding: 24px 43px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .logo {
          height: 50px;
        }
      }
    }
  
    .container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
  
      form {
        width: 380px;
        height: 660px;
        padding: 60px;
        border-radius: 4px;
        background-color: rgba(0,0,0,.75);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
  
        input {
          border: 0;
          border-radius: 4px;
          color: #fff;
          height: 50px;
          line-height: 50px;
          padding: 12px 16px 0;
          background: #333;
          outline: none;
  
          &::placeholder {
            color: rgb(145, 143, 143);
          }
        }
  
        button {
          height: 40px;
          border-radius: 5px;
          background-color: red;
          color: white;
          border: none;
          font-size: 18px;
          font-weight: 500;
          cursor: pointer;
        }
  
        span {
          color: rgb(145, 143, 143);
          b {
            font-weight: 400;
            color: white;
          }
        }
        small{
          color: rgb(145, 143, 143);
          b{
            color: #0071eb;
          }
        }
      }
    }
  }